.main-btn {
    z-index: 10;
    display: flex;
    background: linear-gradient(to top, $primary-color, $primary-color-gradient);
    border-radius: 1.5625rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border: none;
    padding: 0.81rem 1.5rem;
    width: 11.625rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.main-btn:hover {
    filter: brightness(1.05);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.4);
}

  
.header-back-button {
    display: none;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

  .new-tag {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $secondary-color;
    color: $secondary-color-darker;
    padding: 0.44rem 0.60rem 0.38rem 0.56rem;
}

/** RESTAURANT CARD **/

.select-button {
    position: absolute;
    z-index: 1;
    right: -1px;
    height: 100%;
    right: -4.2rem;
    transition: ease 0.7s;

    .price {
        position: relative;
        bottom: 2.5rem;
        right: 2.5rem;
    }
}

.trigger {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.trigger:checked + .checked-selection .select-button {
        right: -1px;
        transition: right 0.7s ease;
    }

.trigger:checked + .checked-selection .menu-description {
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-width 1.3s ease-in-out;
}

