* {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    font-weight: 300;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1.125rem;
}


h3 {
    font-weight: 500;
    font-size: 1rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.slim-footer {
    font-weight: 400;
    font-size: 1rem;
}

.new-tag {
    font-size: 0.875rem;
    font-weight: 500;
}



.menu-description {
    font-size: 0.94rem;
}

.menu-card-content {
    h3 {
        font-size: 1.125rem;
    }
}


