@media (min-width: 1440px) {

    main {

        .fonctionnement {
            padding-left: 11.25rem;
            padding-right: 11.25rem;
        }

        .restaurants-list {
            padding-left: 11.25rem;
            padding-right: 11.25rem;
        }
    }
    footer {
        height: 4.125rem;
        padding: 3rem;
    }


        /*** RESTAURANTS ***/

        main {
    
            .menu {
                display: flex;
                margin-left: 20rem;
                padding: 3.19rem 13.13rem 2.5rem 13.13rem;
            }
        }
}
