@media (min-width: 1440px) {

    main {

        .fonctionnement {
            padding-left: 11.25rem;
            padding-right: 11.25rem;
        }

        .restaurants-list {
            padding-left: 11.25rem;
            padding-right: 11.25rem;
        }

        /*** RESTAURANTS ***/

        .menu {
            justify-content: center;
            align-items: center;

            .detailed-menu {
                width: 75%;
            }
        }
    }
    footer {
        height: 4.125rem;
        padding: 3rem;
    }
}
