$primary-color: #9356DC;
$primary-color-gradient: #FF79DA;

$secondary-color: #99E2D0;
$secondary-color-darker: #008766;

$text-color: #333;

$background-color: #FFFFFF;
$secondary-background-color: #F6F6F6;
$dark-background-color: #353535;
$localisation-background-color: #EAEAEA;