footer {
    display: flex;
    flex-direction: column;
    background-color: $dark-background-color;
    color: white;
    font-weight: 500;
    padding: 2rem;
    gap: 1.15rem;
    position: relative;

    .img-footer {
        display: flex;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        padding-inline-start: 0;
        gap: 0.44rem;
        }

        a {
            display: flex;
            flex-direction: row;
            gap: 0.69rem;
            align-items: center;
        }
    }


