// layouts/_header.scss

header {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  
    .header-logo-container {
        display:flex;
        
        img {
            position: relative;
            max-width: 11.125rem;
            margin: 0.88rem 5.56rem 0.81rem 5.56rem;
            height: auto;
        }
    }
  }
  