.loader{
    font-size: 48px;
    position: fixed;
    background-color: $secondary-background-color;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: 'shrikhand', sans-serif;
    animation: 2.5s loader-animation forwards;
  }

  .loader:after{
    content: 'ohmyfood';
    font-family: 'shrikhand', sans-serif;
    position: absolute;
    z-index: 100;
  }

  .loader:before{
    content: '';
    height: 15px;
    border: 1px solid;
    border-radius: 10px;
    width: 250px;
    position: relative;
    bottom: -50px;
    background: linear-gradient($primary-color 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 3s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}

  @keyframes loader-animation {

    99% {
        opacity: 1;
        z-index: 100;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
  }